.jstb_pastetext {
  background-image: url(../images/puppypaste.png);
}

.pasteText-textarea {
  width: 100%;
  min-height: 600px;
}

.pasteText-button {
  float: right;
}

.redactor_editor {
  max-height: 300px;
}